.navbar {
  background-color: white;
  color: black;
}

.links a {
  font-weight: 500;
  text-decoration: none !important;
}

.menu_nav {
  height: 100vh;
  position: absolute;
  left: 0;
  width: 0;
  overflow: hidden;
  border-top: rgba(0, 0, 0, 0.068) solid 1px;
  /* transition: max-width 0.2s ease-out; */
  top: 5.1rem;
  z-index: 20;
  background-color: white;
  color: rgb(0, 0, 0);
}

.menu_open {
  width: 100%;

  /* transition: max-width 1.4s ease-in; */
}

.navegacion a {
  text-decoration: none !important;
}

.button-desplegable {
  padding: 0 10px;
  padding-bottom: 2px;
  border: rgba(0, 0, 0, 0.226) 1px solid;
  border-radius: 5px;
  outline: none !important;
  color: rgba(0, 0, 0, 0.445);
}

.font-size-lg {
  font-size: large;
}

.overflow-hiden{
    overflow: hidden;
}

.bg-button{
  background-color: #0071BC!important;
  color:white!important;
}
