<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hola {{nombre}}, muchas gracias por ser parte de Donar-app.</h1>
    <p>En el siguente enlace podras confirmar tu cuenta, para que asi puedes dar o recibir donaciones en nuestra APP.</p>
    <p>Por favor presiona el boton para confirmar tu suscripcion</p>
    <h2>Confirmar Registro: <a href="https://donar-app.com/confirmar-registro/{{codigo_secreto}}"></a></h2>
</body>
</html>